.course {
    display: flex;
    flex-direction: row;
    padding: var(--spacing-16);
    border-radius: var(--radius-8);
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-foreground);
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
    gap: var(--spacing-4);
}

.course:hover {
    background-color: var(--color-background-hover-muted);
}

.course:hover > p {
    color: var(--color-text-primary);
}

.course:hover > span {
    color: var(--color-primary);
}

.course > p {
    font-size: var(--font-size-16);
    font-family: var(--font-family-geist);
    color: var(--color-text-secondary);
}

.course > span {
    border-radius: var(--radius-4);
    font-size: var(--font-size-12);
    font-family: var(--font-family-geist);
    color: var(--color-text-muted);
    background-color: var(--color-background-muted);
    padding: var(--spacing-4) var(--spacing-8);
}

@media (max-width: 768px) {
    .course > p {
        font-size: var(--font-size-14);
    }
}