.hero {
    display: grid;
    grid-template-columns: 1fr  1fr;
    flex-direction: row;
    margin-top: 8rem;
    gap: 3rem;
}

.hero .heroContent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32);
}

.hero .heroContent div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.hero .heroContent span {
    color: var(--color-primary);
    width: fit-content;
    font-weight: 400;
    font-size: var(--font-size-14);
    font-family: var(--font-family-space);
}

.hero .heroContent .heroTitle {
    font-size: var(--font-size-32);
    color: var(--color-text-white);
    font-family: var(--font-family-orbitron);
    font-weight: 600;
}

.hero .heroContent .heroSubtitle {
    font-family: var(--font-family-space);
    font-size: var(--font-size-20);
    color: var(--color-text-white);
    font-weight: 500;
}

.hero .heroContent .heroText {
    font-family: var(--font-family-geist);
    font-size: var(--font-size-16);
    font-weight: 300;
    color: var(--color-text-secondary);
    line-height: 26px;
}

.hero .heroContent .containerHeroButtons {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16);
    align-items: center;
}

.hero .heroContent .containerHeroButtons a:nth-child(1) {
    background-color: var(--color-primary);
    color: var(--color-text-button-primary);
    font-weight: 500;
    font-size: var(--font-size-14);
    font-family: var(--font-family-geist);
    padding: var(--spacing-12) var(--spacing-24); 
    border-radius: 999px;
    text-decoration: none;
    cursor: pointer;
}

.hero .heroContent .containerHeroButtons a:nth-child(1):hover {
    background-color: #FF8C52;
}

.hero .heroContent .containerHeroButtons a:nth-child(2) {
    background-color: transparent;
    padding: var(--spacing-12) var(--spacing-24);
    color: var(--color-text-primary);
    font-weight: 500;
    font-size: var(--font-size-14);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
    font-family: var(--font-family-geist);
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 999px;
    border: 1px solid var(--color-border-hover-secondary);
}

.hero .heroContent .containerHeroButtons a:nth-child(2):hover {
  
    gap: var(--spacing-16);
}

.hero .heroContent .containerHeroSocial {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16);
}

.hero .heroContent .containerHeroSocial a {
    height: 2.5rem;
    width: 2.5rem;
    text-decoration: none;
    background-color: var(--color-background-muted);
    border-radius: var(--radius-8);
    border: var(--border-primary); 
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
    justify-content: center;
    transition: transform 0.2s ease;
    
}

.hero .heroContent .containerHeroSocial a:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
    transform: translateY(-2px) scale(1.05);

}

.hero .heroImage {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-12);
}

.hero .heroImage .searchBar {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-background-muted);
    padding: 10px var(--spacing-16);
    border: var(--border-primary);
    border-top-left-radius: var(--radius-12);
    border-top-right-radius: var(--radius-12);
}

.hero .heroImage .searchBar .circles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
    margin-right: auto;
}

.hero  .heroImage .searchBar .circles .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-border-primary);
}

.hero .heroImage span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font-family-geist);
    color: var(--color-text-muted);
    font-size: var(--font-size-12);
    
}

.hero .heroImage img {
    
    width: 100%;
    object-fit: cover;
    display: block;
    height: 100%;
    border-bottom-left-radius: var(--radius-12);
    border-bottom-right-radius: var(--radius-12);
}


@media (max-width: 768px) { 
    .hero {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;
        
    }
    .hero .heroContent .containerHeroButtons {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-16);
    }

    .hero .heroContent .containerHeroButtons a:nth-child(1){
        width: 50%;
        font-size: var(--font-size-12);
        padding: var(--spacing-12) var(--spacing-12);
        text-align: center;
    }
    .hero .heroContent .containerHeroButtons a:nth-child(2){
        width: 50%;
        font-size: var(--font-size-12);
        padding: var(--spacing-12) var(--spacing-8);
        text-align: center;
    }
    .hero .heroContent .containerHeroButtons a:nth-child(2):hover{
        gap: var(--spacing-12);
    }
}
