:root {
    --color-background: #121315;
    --color-background-muted: #292a2c;
    --color-background-section: #1B1C1E;
    --color-foreground: #0D0E10;
    
    --color-primary: #FF6b00;
    
    --color-text-white: #fff;
    --color-text-primary: #E3E2E5;
    --color-text-secondary: #b5b4ba;
    --color-text-muted: #98999F;
    --color-text-muted-50: rgba(152, 153, 159, 0.5);
    
    --color-border-primary: #343537;
    --color-border-secondary: rgba(255, 255, 255, 0.1);
    
    --color-primary-overlay: rgb(255, 107, 0, 0.1);
    
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-12: 0.75rem;
    --spacing-14: 0.875rem;
    --spacing-16: 1rem;
    --spacing-20: 1.25rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    
    --radius-4: 0.25rem;
    --radius-8: 0.5rem;
    --radius-12: 0.75rem;
    --radius-14: 0.875rem;
    --radius-16: 1rem;
    
    --font-family-geist: "Geist", sans-serif;
    --font-family-orbitral: "Orbitron", sans-serif;
    
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-20: 1.25rem;
   --font-size-24: 1.5rem;
    --font-size-32: 2rem;
}