#header {
    display: flex;
    flex-direction: row;
    background: var(--color-background);
    border: 1px solid var(--color-border-secondary);
    width: 90%;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: var(--radius-lg);
    position: fixed;
    padding: var(--spacing-lg) var(--spacing-xxxl);
    align-items: center;
    justify-content: space-between;
}

#header div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
}

#header div:nth-child(1) div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

#header div:nth-child(1) div span:nth-child(1) {
    font-family: var(--font-family-geist);
    font-size: var(--font-size-md);
    color: var(--color-text-primary);
    font-weight: 600;
}

#header div:nth-child(1) div span:nth-child(2) {
    font-family: var(--font-family-geist);
    font-size: var(--font-size-xs);
    color: var(--color-text-muted-50);
    font-weight: 500;

}

#header div:nth-child(1) img {
    height: 44px;
    width: 54px;
}

#header nav {
    display: flex;
    gap: var(--spacing-xxxxl);
}

#header nav a {
    text-decoration: none;
    font-family: var(--font-family-geist);
    font-size: var(--font-size-sm);
    color: var(--color-text-secondary);
}
#header div:nth-child(3) {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xxl);
}

#header div:nth-child(3) div {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    justify-content: center;
}


#header div:nth-child(3) div .socialLinks {
    text-decoration: none;
    color: var(--color-text-secondary);
}

#header div:nth-child(3) div .socialLinks:hover {
    color: var(--color-primary);
}

#header div:nth-child(3) .button {
    font-family: var(--font-family-geist);
    font-weight: 600;
    font-size: var(--font-size-md);
    background-color: var(--color-primary);
    border: none;
    color: var(--color-text-primary);
    border-radius: 0.625rem;
    padding: var(--spacing-sm) var(--spacing-xxl);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
}

