:root {
    --background: #383837;
    --orange-primary: #f06d0d; 
    --orange-secondary: #E57600;
    --montserrat: 'Montserrat', serif;
    --inter: 'Inter', serif;
    --spartan: 'League Spartan', serif;
    --kodchasan: 'Kodchasan', serif;
    --josefin: 'Josefin Sans', serif;
    --jockey: 'Jockey One', serif;
}

#footer {
    width: 100%;
    background-color: #14161a;
}

#footer hr {
    height: 0.0625rem; /* 1px */
}

.footer-container {
    display: flex;
    flex-direction: column;
    margin-top: 6.25rem; /* 100px */
}

.second-footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.25rem; /* 20px */
}

.second-footer span {
    color: var(--orange-primary);
}

.second-footer .tittle {
    font-size: 1.125rem; /* 18px */
}

.second-footer .text {
    font-weight: 200;
}

.second-footer .fast-links:hover,
.items-list-contact:hover {
    color: var(--orange-primary);
}

.tittle-lists {
    color: var(--orange-primary);
    font-family: var(--jockey);
    font-size: 1.125rem; /* 18px */
}

.list-links {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem; /* 12px */
    font-family: var(--spartan);
    gap: 0.3125rem; /* 5px */
}

.list-links a {
    text-decoration: none;
    color: white;
}

.list-links a:hover {
    color: var(--orange-primary);
}

.icons-contact {
    width: 1rem; /* 16px */
}

.items-list-contact {
    display: flex;
    gap: 0.4375rem; /* 7px */
}

.container-icons svg {
    width: 1rem; /* 16px */
}

.container-icons svg:hover {
    fill: var(--orange-primary);
}

.container-icons path:hover {
    fill: var(--orange-primary);
}

.contact-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem; /* 20px */
    margin-bottom: 1.25rem; /* 20px */
}

.contact-container p {
    font-family: var(--spartan);
    font-weight: 200;
    font-size: 0.75rem; /* 12px */
    color: #757373;
}

.contact-container a {
    text-decoration: none;
}

.container-icons {
    display: flex;
    gap: 0.75rem; /* 12px */
}
