:root {
    --backgroud: #383837;
    --orange-primary: #F38F00 ;
    --orange-secondary: #E57600;
    --montserrat: 'Montserrat', serif;
    --inter: 'Inter', serif;
    --spartan: 'League Spartan', serif;
    --kodchasan: 'Kodchasan', serif;
    --josefin: 'Josefin Sans', serif;
    --jockey: 'Jockey One', serif;

}

#footer {
    width: 100%;
    background-color: linear-gradient(to bottom, #282929 0%, black 100%); 
}
