:root {
    --background: #383837;
    --orange-primary: #f06d0d; 
    --orange-secondary: #E57600;
    --montserrat: 'Montserrat', serif;
    --inter: 'Inter', serif;
    --spartan: 'League Spartan', serif;
    --kodchasan: 'Kodchasan', serif;
    --josefin: 'Josefin Sans', serif;
    --jockey: 'Jockey One', serif;

}

#footer {
    width: 100%;
    background-color: #14161a;
    
}

#footer hr {
   height: 1px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.second-footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
}

.second-footer span {
    color: var(--orange-primary);
}

.second-footer .tittle {
    font-size: 18px;
}

.second-footer .text {
    font-weight: 200;
}

.second-footer .fast-links:hover, .items-list-contact:hover {
    color: var(--orange-primary);
}

.tittle-lists {
    color: var(--orange-primary);
    font-family: var(--jockey);
    font-size: 18px;
}

.list-links {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    font-family: var(--spartan);
    gap: 5px;
}

.list-links a {
    text-decoration: none;
    color: white;
}

.list-links a:hover {
    color: var(--orange-primary);
}

.icons-contact {
    width: 16px;
}

.items-list-contact {
    display: flex;
    gap: 7px;
}

.container-icons svg {
    width: 16px;
}

.container-icons svg:hover {
    fill: var(--orange-primary);
}

.container-icons path:hover {
    fill: var(--orange-primary);
}

.contact-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-container p {
    font-family: var(--spartan);
    font-weight: 200;
    font-size: 12px;
    color: #757373;
}

.contact-container a {
    text-decoration: none;
}

.container-icons {
    display: flex;
    gap: 12px;
}