:root {
    --dark-gradient: linear-gradient(135deg, hsl(220 13% 11%), hsl(220 13% 15%));
    --orange-primary: #f06d0d ;
    --orange-secondary: #E57600;
    --montserrat: 'Montserrat', serif;
    --inter: 'Inter', serif;
    --spartan: 'League Spartan', serif;
    --kodchasan: 'Kodchasan', serif;
    --josefin: 'Josefin Sans', serif;
    --jockey: 'Jockey One', serif;

}

#form-email {
    display: flex;
    width: 100%;
    background-color: hsl(220 13% 15%);
    justify-content: center;
}

#form-email-container {
    margin-top: 60px;
    display: flex;
    width: 90%;
    justify-content: space-around;
    text-align: left;
    gap: 40px;
    margin-bottom: 60px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d2025;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid hsla(220 13% 18%);
    gap: 14px;
    font-family: var(--spartan);
}

.input-form {
    width: 400px;
    background-color: hsla(220 13% 15%);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: var(--spartan);
}

.input-form::placeholder {
    display: flex;
    color:  #757373;
    font-family: var(--inter);
    line-height: normal;
}

.input-form:focus {
    outline: none;
}


#msg {
    height: 200px;

}

#msg::placeholder {
    display: flex;
    padding-top: 10px;
}

#form-email-container .texts {
    display: flex;
    align-items: center;
}

#form-email-container .tittle {
    color: var(--orange-primary);
}

#button-form {
    border: none;
    background-color: var(--orange-primary);
    color: hsla(220 13% 9%);
    font-family: var(--spartan);
    padding: 10px 0px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    border-radius: 10px;
}