:root {
    --secondary-backgroud: #383837;
    --background: #0f0f0f;
    --orange-primary: #F38F00 ;
    --orange-secondary: #E57600;
    --montserrat: 'Montserrat', serif;
    --inter: 'Inter', serif;
    --spartan: 'League Spartan', serif;
    --kodchasan: 'Kodchasan', serif;
    --josefin: 'Josefin Sans', serif;
    --jockey: 'Jockey One', serif;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroud);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

/*Header*/
#header {
    width: 90%;
    display: flex;
    align-items: center;
    font-family: var(--jockey);
    font-size: 22px;
    margin-top: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding: 5px;
    position: fixed;
    z-index: 1000;
}

.navigation-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

#text-header .bold {
    color: var(--orange-primary)
}

.list-header {
    display: flex;
    list-style: none;
    gap: 33px;
}

.item-list-header {
    display: flex;
    align-items: center;
}

.link-header {
    text-decoration: none;
    color: white;
    font-size: 22px;
    align-items: center;
}

.link-header:hover {
    color: var(--orange-primary);
    display: inline-block;
    transition: all 0.3s; /* Transição suave de 300ms para todos os estilos */
    transform: scale(1); /* Transformação inicial, sem escalonamento */
    transform: scale(1.05); /* Aumenta o tamanho do elemento em 25% ao passar o mouse */
}

#header .navigation-header #icons-container {
    display: flex;
}

#header .navigation-header #icons-container .icons {
    color: #555555;
    justify-content: center;
    align-items: center;
}

.icon-list {
    display: flex;
    gap: 8px;
    justify-content: center;
}

#header .navigation-header #icons-container .icons:hover {
    color: var(--orange-primary);
}

[trans="en"] {
    background-image: url(../assets/icons/17821510541536065017.svg);
    background-repeat: no-repeat;
    background-size:cover;
}

[trans="pt"] {
    background-image: url(../assets/icons/1595219911626933815.svg);
    background-repeat: no-repeat;
    background-size:cover;
}

#second-header {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    position: fixed;
    z-index: 1000;
    width: 10%;
    border-radius: 40px;
    margin-bottom: 16px;
    padding: 10px;
}

#second-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#second-nav p {
    color: aliceblue;
}

#second-header button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
}



#Layer_1 {
    fill: aliceblue;
}

@media (max-width: 500px) {
    #header #icons-container {
        display: none;
    }

    .icons {
        display: none;
    }

    #header {
        font-size: 14px;
    }

}