@media (max-width: 450px) {

    html {
        font-size: 14px;
    }

    /*HEADER*/
    body {
        display: flex;
        align-items: center;
        overflow-x: hidden;
        
    }

    #header {
        width: 90%;
    }


    .navigation-header {
        display: none;
    }

    .navigation-header-mobile {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #text-header {
        margin-left: 18%;
    }

    .hamburger .hamburger-inner,
    .hamburger .hamburger-inner::before,
    .hamburger .hamburger-inner::after {
        background-color: white;
        /* ou qualquer cor */
    }

    /* Cor do X (quando ativo) */
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: white;
    }

    .infos-container {
        width: 100%;
    }

    /*===============================
            PRESENTATION
    ===============================*/

    .container-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #presetation-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .secondary-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        gap: 2.5rem;
    }

    .part1 {
        width: 80%;
        text-align: left;
    }

    .text-btn-presentation {
        width: 80%;
    }

    .infos-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aboutTextOne {
        text-align: center;
    }


    /*===============================
                SKILLS
      ===============================*/

    #skills-list {
        grid-template-columns: 1fr 1fr 1fr;
    }


    /*===============================
                SERVIÇOS
      ===============================*/

    #services-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .items-list-services {
        height: 15rem;
        /* 200px */
    }

    .infos-services {
        justify-content: center;
    }

    .description {
        width: 100%;
    }

    .tittle-services {
        font-size: 1.125rem;
        /* 18px */
    }

    #services-list {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .infos-services {
        justify-content: center;
    }


    /*===============================
                PROJETOS
    ===============================*/
    .items-projects-list {
        height: 20rem;
    }

    .items-projects-list .container-image1 {
        height: 7rem;
    }

    .items-projects-list .container-image2 {
        height: 7rem;
    }

    .items-projects-list .container-image3 {
        height: 7rem;
    }

    .projects-list {
        display: flex;
        flex-direction: column;
    }

    .items-projects-list {}



    /*FORMULARIO EMAIL*/

    #form-email-container {
        flex-direction: column;
        align-items: center;
    }

    .input-form {
        width: 100%;
    }

    #form {
        display: flex;
        align-items: center;
    }

    #button-form {
        width: 100%;
    }

    /*RODAPE*/

    .second-footer {
        flex-direction: column;
        gap: 20px;
    }

    .second-footer div {
        margin-left: 25px;
    }

    #second-header {
        width: 30%;
    }

    @keyframes digitar {
        0% {
            width: 0;
        }

        25% {
            width: 0;
        }

        50% {
            width: 100%;
        }

        75% {
            width: 100%;
            /* Mantém o texto visível no 50% até 75% (pausa) */
        }

        100% {
            width: 0;
        }
    }
}