:root {
    --backgroud: #383837;
    --orange-primary: #F38F00 ;
    --orange-secondary: #E57600;
    --montserrat: 'Montserrat', serif;
    --inter: 'Inter', serif;
    --spartan: 'League Spartan', serif;
    --kodchasan: 'Kodchasan', serif;
    --josefin: 'Josefin Sans', serif;
    --jockey: 'Jockey One', serif;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presetation-container {
    display: flex;
    margin-top: 64px;
    width: 75%;
    padding: 15px;
}

.infos-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.infos-container .mini-tittle {
    font-family: var(--spartan);
    font-weight: 600;   
    font-size: 32px;
}

.infos-container .tittle {
    font-family: var(--jockey);
    font-size: 48px;
    
}

.infos-container .text-presetation {
    font-family: var(--kodchasan);
    font-size: 13px;
}

#icons-container {
    display: flex;
    gap: 30px;
    margin-top: 12px;
}

#icons-container .icons {
    color: var(--backgroud);
}

#icons-container .icons:hover {
    color: var(--orange-primary)
}

#image-presentation {
    height: 179px;
}

.digitar {
    font-family: "Courier New", Courier, monospace; 
    font-size: 2em;
    border-right: 0.1em solid white; 
    white-space: nowrap; 
    overflow: hidden;
    width: 0; 
    animation: digitar 6s steps(20) infinite, cursor 0.8s step-end infinite;
}

@keyframes digitar {
    0% {
      width: 0;
    }
    25% {
        width: 0;
    }
    50% {
      width: 70%;
    } 
    75% {
        width: 70%;  /* Mantém o texto visível no 50% até 75% (pausa) */
    }
    100% {
        width: 0;
    }
}

@keyframes cursor {
    50% {
      border-color: transparent; 
    }
}

