:root {
    --background: #14161a;
    --orange-primary: #f06d0d;
    --montserrat: 'Montserrat', serif;
    --inter: 'Inter', serif;
    --spartan: 'League Spartan', serif;
    --kodchasan: 'Kodchasan', serif;
    --josefin: 'Josefin Sans', serif;
    --jockey: 'Jockey One', serif;

}

#projects {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #14161a;
}

#projects-container {
    display: flex;
    margin-bottom: 60px;
    margin-top: 60px;
    width: 90%;
    flex-direction: column;
    gap: 20px;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-content: center;
}

.items-projects-list {
    display: flex;
    background-color: #1d2025;
    border: 1px solid hsla(220 13% 18%);
    flex-direction: column;
    gap: 20px;
    height: 400px;
    border-radius: 10px;
}

.items-projects-list:hover {
    border: 1px solid var(--orange-primary);
}

.items-projects-list .container-image1 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 50%;
    background-image: url('../assets/images/surix.png');
    background-size: cover;
    /* A imagem cobre toda a área, mantendo a proporção */
    background-position: center;
    /* A imagem será centralizada */
}

.items-projects-list .container-image2 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 50%;
    background-image: url('../assets/images/portifolio.png');
    background-size: cover;
    /* A imagem cobre toda a área, mantendo a proporção */
    background-position: center;
    /* A imagem será centralizada */
}

.items-projects-list .container-image3 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 50%;
    background-image: url('../assets/images/calculadora.png');
    background-size: cover;
    /* A imagem cobre toda a área, mantendo a proporção */
    background-position: center;
    /* A imagem será centralizada */
}

.text-definition {
    background-color: var(--orange-primary);
    font-size: 14px;
    padding: 6px 10px;
    color: hsla(220 13% 9%);
    font-family: var(--spartan);
    border-radius: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 16px;
    width: fit-content;
}

.infos-project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}



.texts-project {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 20px;
    gap: 16px;
}

.texts-project .text {
    font-size: 20px;
}

.techs {
    display: flex;
    gap: 10px;
}

.text-tech {
    align-items: center;
    justify-content: center;
    color: hsla(220 13% 9%);
    background-color: var(--orange-primary);
    border-radius: 15px;
    padding: 5px 12px;
    font-family: var(--inter);
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    line-height: normal;
}


.footer-project {
    display: flex;
    gap: 10px;
}

.footer-project a {
    display: flex;
    line-height: normal;
    text-align: center;
    gap: 12px;
    text-decoration: none;
    color: hsla(220 13% 9%);
    background-color: var(--orange-primary);
    padding: 8px;
    border-radius: 5px;
    font-family: var(--inter);
    font-weight: 600;
    font-size: 14px;
    align-items: center;
}

.footer-project .git {
    border: 1px solid hsla(0 0% 63%);
    background-color: hsla(220 13% 9%);
    color: hsl(0, 0%, 63%);
    
}

.footer-project a img {
    width: 16px;
}

.infos-project .tittle {
    font-family: var(--inter);
    font-weight: bold;
    margin-left: 20px;
    font-size: 28px;
}


.infos-project .text {
    font-size: 16px;
    color: #a1a1a1;
    line-height: normal;
    width: 80%;
}
