:root {
    --background: #14161a;
    --orange-primary: #f06d0d;
    --montserrat: 'Montserrat', serif;
    --inter: 'Inter', serif;
    --spartan: 'League Spartan', serif;
    --kodchasan: 'Kodchasan', serif;
    --josefin: 'Josefin Sans', serif;
    --jockey: 'Jockey One', serif;
}

#projects {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #14161a;
}

#projects-container {
    display: flex;
    margin-bottom: 3.75rem; /* 60px */
    margin-top: 3.75rem; /* 60px */
    width: 90%;
    flex-direction: column;
    gap: 1.25rem; /* 20px */
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.625rem; /* 10px */
    justify-content: center;
}

.items-projects-list {
    display: flex;
    background-color: #1d2025;
    border: 1px solid hsla(220 13% 18%);
    flex-direction: column;
    gap: 1.25rem; /* 20px */
    height: 25rem; /* 400px */
    border-radius: 0.625rem; /* 10px */
}

.items-projects-list:hover {
    border: 1px solid var(--orange-primary);
}

.items-projects-list .container-image1,
.items-projects-list .container-image2,
.items-projects-list .container-image3 {
    border-top-right-radius: 0.625rem; /* 10px */
    border-top-left-radius: 0.625rem; /* 10px */
    height: 50%;
    background-size: cover;
    background-position: center;
}

.items-projects-list .container-image1 {
    background-image: url('../assets/images/surix.png');
}

.items-projects-list .container-image2 {
    background-image: url('../assets/images/portifolio.png');
}

.items-projects-list .container-image3 {
    background-image: url('../assets/images/fibercontrol.png');
}

.text-definition {
    background-color: var(--orange-primary);
    font-size: 0.875rem; /* 14px */
    padding: 0.375rem 0.625rem; /* 6px 10px */
    color: hsla(220 13% 9%);
    font-family: var(--spartan);
    border-radius: 1.25rem; /* 20px */
    font-weight: 600;
    margin-top: 1.25rem; /* 20px */
    margin-left: 1rem; /* 16px */
    width: fit-content;
}

.infos-project {
    display: flex;
    flex-direction: column;
    gap: 0.625rem; /* 10px */
    justify-content: center;
}

.texts-project {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1.25rem; /* 20px */
    gap: 1rem; /* 16px */
}

.texts-project .text {
    font-size: 1.25rem; /* 20px */
}

.techs {
    display: flex;
    gap: 0.625rem; /* 10px */
}

.text-tech {
    align-items: center;
    justify-content: center;
    color: hsla(220 13% 9%);
    background-color: var(--orange-primary);
    border-radius: 0.9375rem; /* 15px */
    padding: 0.3125rem 0.75rem; /* 5px 12px */
    font-family: var(--inter);
    font-weight: 600;
    font-size: 0.8125rem; /* 13px */
    text-align: center;
    line-height: normal;
}

.footer-project {
    display: flex;
    gap: 0.625rem; /* 10px */
}

.footer-project a {
    display: flex;
    line-height: normal;
    text-align: center;
    gap: 0.75rem; /* 12px */
    text-decoration: none;
    color: hsla(220 13% 9%);
    background-color: var(--orange-primary);
    padding: 0.5rem; /* 8px */
    border-radius: 0.3125rem; /* 5px */
    font-family: var(--inter);
    font-weight: 600;
    font-size: 0.875rem; /* 14px */
    align-items: center;
}

.footer-project .git {
    border: 1px solid hsla(0 0% 63%);
    background-color: #14161a;
    color: hsl(0, 0%, 63%);
}

.footer-project a img {
    width: 1rem; /* 16px */
}

.infos-project .tittle {
    font-family: var(--inter);
    font-weight: bold;
    margin-left: 1.25rem; /* 20px */
    font-size: 1.75rem; /* 28px */
}

.infos-project .text {
    font-size: 1rem; /* 16px */
    color: #a1a1a1;
    line-height: normal;
    width: 80%;
}


