:root {
    --secondary-backgroud: #383837;
    --background: #0f0f0f;
    --orange-primary: #F38F00 ;
    --orange-secondary: #E57600;
    --montserrat: 'Montserrat', serif;
    --inter: 'Inter', serif;
    --spartan: 'League Spartan', serif;
    --kodchasan: 'Kodchasan', serif;
    --josefin: 'Josefin Sans', serif;
    --jockey: 'Jockey One', serif;
}

#services {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 70%;
    margin-top: 128px;
}

#services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-content: center;
}

.items-list-services {
    display: flex;
    flex-direction: column;
    background-color: #232323;
    border-radius: 16px;
    height: 200px;
}

.icons-services {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.tittle-services {
    font-family: var(--jockey);
    color: var(--orange-primary);
    font-size: 24px;
    margin-left: 10px;
}

.text-container {
    display: flex;
    width: 80%;
    align-items: center;
}

.infos-services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
}

.description {
    margin-left: 10px;
    font-family: var(--spartan);
    font-size: 16px;
    color: #abaaaa;
    width: 90%;
}

.items-list-services:hover {
    background-color: var(--orange-primary);
}

.items-list-services:hover .tittle-services{
    color: white;
}

.items-list-services:hover .description {
    color: #232323;
}