:root {
    --orange-primary: #f06d0d;
    --orange-secondary: #E57600;
    --montserrat: 'Montserrat', serif;
    --inter: 'Inter', serif;
    --spartan: 'League Spartan', serif;
    --kodchasan: 'Kodchasan', serif;
    --josefin: 'Josefin Sans', serif;
    --jockey: 'Jockey One', serif;
}

#skills {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom, #14161b, #21252b);
    flex-direction: column;
    align-items: center;
}

.skills-container {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem; /* 60px */
    gap: 1.25rem; /* 20px */
    width: 90%;
    margin-bottom: 7.5rem; /* 120px */
}

hr {
    background-color: #5a5959;
    height: 0.125rem; /* 2px */
    border: none;
    width: 100%;
}

.text {
    font-family: var(--spartan);
    margin-top: 0.5rem; /* 8px */
}

#skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem; /* 8px */
    row-gap: 0.75rem; /* 12px */
    width: 100%;
    opacity: 0;
    justify-content: center;
}

.items-list-skills {
    background-color: #1d2025;
    line-height: normal;
    border: 1px solid hsla(220 13% 18%);
    border-radius: 0.75rem; /* 12px */
    align-items: center;
    justify-content: center;
    padding: 0.625rem 0rem; /* 10px 0px */
    width: 98%;
    text-align: center;
    font-size: 1rem; /* 16px */
    font-weight: 600;
    font-family: var(--spartan);
    opacity: 0;
    transform: translateY(1.25rem); /* 20px */
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.items-list-skills:hover {
    border: 1px solid var(--orange-primary);
}

#skills-list.show {
    opacity: 1;
    transform: translateY(0);
}

.items-list-skills.show {
    opacity: 1;
    transform: translateY(0);
}
