.experiences {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    gap: 3rem;
    
}

.experiences .introductionExperiences {
    display: flex;
    flex-direction: column;
    grid-column: span 6;
    gap: var(--spacing-8);

}


.experiences .introductionExperiences .cardIntroduction {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: var(--spacing-20);
    background-color: var(--color-foreground);
    border-radius: var(--radius-12);
    border: var(--border-primary);
}

.experiences .introductionExperiences .cardIntroduction .badge {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
    background-color: var(--color-primary-overlay);
    color: var(--color-primary);
    lign-items: center;
    justify-content: center ;
    text-align: center;
    font-family: var(--font-family-geist);
    font-size: var(--font-size-12);
    border-radius: 999px;
    padding: var(--spacing-8) var(--spacing-12);
    border: 1px solid rgba(255, 107, 0, 0.2);
    margin-bottom: var(--spacing-12);
}

.experiences .introductionExperiences .cardIntroduction > p {
    color: var(--color-text-primary);
    font-family: var(--font-family-geist);
    font-size: 13px;
    line-height: 18px;
    margin-bottom: var(--spacing-24);
}

.experiences .introductionExperiences .cardIntroduction .departments {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-24);
}

.experiences .introductionExperiences .cardIntroduction .area {
    background-color: var(--color-background-muted);
    font-family: var(--font-family-space);
    border: var(--border-primary);
    border-radius: var(--radius-4);
    padding: var(--spacing-4) var(--spacing-8);
    color: var(--color-text-secondary);
    font-size: var(--font-size-12);
}

.experiences .introductionExperiences .cardIntroduction > .senorityProgress {
    border-top: var(--border-primary);
    padding-top: var(--spacing-16);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.experiences .introductionExperiences .cardIntroduction > .senorityProgress > .senorityProgressText {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-12);
    font-family: var(--font-family-geist);
    color: var(--color-text-muted);

}

.experiences .introductionExperiences .cardIntroduction > .senorityProgress > .senorityProgressText > span:nth-child(2) {
    color: var(--color-primary);
}

.experiences .introductionExperiences .cardIntroduction > .senorityProgress > .progressBar {
    width: 100%;
    height: var(--spacing-8);
    border-radius: 999px;
    background-color: var(--color-background-muted);
}

.experiences .introductionExperiences .cardIntroduction > .senorityProgress > .progressBar >.progress {
    width: 20%;
    height: var(--spacing-8);
    border-radius: 999px;
    background-color: var(--color-primary);
}


.experiences .containerExperiences {
    grid-column: span 17;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding-left: 2rem;
}
.containerExperiences::before {
    content: "";
    position: absolute;

    left: 4px;
    top: 0;
    bottom: 0;

    width: 1px;
    background-color: var(--color-border-primary);
}

.timelineItem {
    position: relative;
}

/* bolinha */
.timelineItem::before {
    content: "";
    position: absolute;

    left: calc(-2rem + 1px);
    top: 10px;

    width: 7px;
    height: 7px;

    border-radius: 50%;
    background-color: var(--color-primary);

    z-index: 1;
}

@media (max-width: 768px) { 
    .experiences {
        display: flex;
        flex-direction: column;
    }
}